---
import { SITE } from "../config";
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import LoadingPage from "@components/parts/Loading.astro";
import wine_tool from "@assets/img/wine_tool.png";
import wine_table from "@assets/img/wine_table.png";
import photo from "@assets/img/photo.png";
import drinkMenu from "@assets/img/drink-menu.png";
import direction_people from "@assets/img/direction_people.png";
import direction_menu from "@assets/img/direction_menu.png";
import coding_people from "@assets/img/coding_people.png";
import coding_menu from "@assets/img/coding_menu.png";
import design_people from "@assets/img/design_people.png";
import design_menu from "@assets/img/design_menu.png";
import bar from "@assets/img/bar.png";
import jobHunting_people from "@assets/img/jobHunting_people.png";
import jobHunting_menu from "@assets/img/jobHunting_menu.png";
import company_people from "@assets/img/company_people.png";
import company_menu from "@assets/img/company_menu.png";
import freeLance_people from "@assets/img/freeLance_people.png";
import freeLance_menu from "@assets/img/freeLance_menu.png";
import work_people from "@assets/img/work_people.png";
import work_menu from "@assets/img/work_menu.png";
import web_people from "@assets/img/web_people.png";
import jobHunting_people_sub from "@assets/img/jobHunting_people_sub.png";
// import web_people from "@assets/img/web.gif";
import web_menu from "@assets/img/web_menu.png";
import study_people from "@assets/img/study_people.png";
import study_menu from "@assets/img/study_menu.png";
import portfolio_people from "@assets/img/portfolio_people.png";
import portfolio_menu from "@assets/img/portfolio_menu.png";
import chockArt from "@assets/img/chock-art.png";
import mvBg from "@assets/img/bg_mv.png";
import kanpai from "@assets/img/kanpai.png";
import green_brunch from "@assets/img/green_brunch.svg";
import green_leaf01 from "@assets/img/green_leaf01.svg";
import green_leaf02 from "@assets/img/green_leaf02.svg";
import green_leaf03 from "@assets/img/green_leaf03.svg";
import green_leaf04 from "@assets/img/green_leaf04.svg";
import green_leaf05 from "@assets/img/green_leaf05.svg";
import green_leaf06 from "@assets/img/green_leaf06.svg";
import green_leaf07 from "@assets/img/green_leaf07.svg";
import bar_01 from "@assets/img/bar_01.png";
import bar_02 from "@assets/img/bar_02.png";
import bar_03 from "@assets/img/bar_03.png";
import bar_04 from "@assets/img/bar_04.png";
import bar_05 from "@assets/img/bar_05.png";
import bar_06 from "@assets/img/bar_06.png";
import bar_07 from "@assets/img/bar_07.png";
import bar_08 from "@assets/img/bar_08.png";
import bar_09 from "@assets/img/bar_09.png";
import bar_10 from "@assets/img/bar_10.png";
import bar_11 from "@assets/img/bar_11.png";
import bar_13 from "@assets/img/bar_13.png";
import bar_14 from "@assets/img/bar_14.png";
import beer from "@assets/img/beer.png";
import bar_counter_people3 from "@assets/img/bar_counter_people3.png";
import bar_counter_people4 from "@assets/img/bar_counter_people4.png";
import bar_counter_people5 from "@assets/img/bar_counter_people5.png";
import bar_bottomTable from "@assets/img/bar_bottomTable.png";
import bar_bottomTable_stand from "@assets/img/bar_bottomTable_stand.png";
import bar_bottomTable_char1 from "@assets/img/bar_bottomTable_chra1.png";
import bar_bottomTable_char2 from "@assets/img/bar_bottomTable_chra2.png";
import bar_bottomTable_char3 from "@assets/img/bar_bottomTable_chra3.png";
import bar_bottomTable_char4 from "@assets/img/bar_bottomTable_chra4.png";
import bar_bottomTable_char5 from "@assets/img/bar_bottomTable_chra5.png";
import Loading from "@assets/js/libs/Loading";
import bar_table1 from "@assets/img/bar_table1.png";
import bar_table2 from "@assets/img/detail_beer.png";
import gesture_icon from "@assets/img/gesture_icon.svg";
import bgm from "@assets/audio/bgm.mp3";
import object_main_icon from "@assets/img/object_main_icon.png";
---

<Layout
  title={`${SITE.name} | `}
  description="Webクリエイター養成所Shibajukuのメンバーが集う、ポッドキャスト『シバジュク酒場』。Web制作にまつわるメンバー同士のリアルな会話をこっそり盗みぎきしながら、お楽しみください。"
  class="js-topPage"
>
  <LoadingPage />
  <main class="bg-bricks">
    <audio id="universalAudio" preload="auto"></audio>
    <div class="maps-gesture">
      <div class="maps-gesture__bg"></div>
      <div class="maps-gesture__contents">
        <div class="maps-gesture__contents__icon">
          <Image src={gesture_icon} alt="ジェスチャー" />
        </div>
        <p class="c-crop c-ls maps-gesture__contents__txt">DRAG &amp; DROP<br />or<br /> SWIPE</p>
        <div class="maps-gesture__contents__character"></div>
      </div>
      <p class="maps-gesture-btn"><span class="maps-gesture-btn--text">START</span></p>
    </div>
    <div id="scroll-container">
      <div id="scroll-content">
        <div class="mv-kanpai">
          <Image src={kanpai} alt="乾杯" />
        </div>
        <div class="mv-bg">
          <Image src={mvBg} alt="メインビジュアル" />
        </div>
        <div class="bg_wine_table">
          <Image src={wine_table} alt="バーの下のテーブル" />
        </div>
        <div class="mv-title">
          <h2 class="mv-title--center">
            <span>
              <span class="mv-title--sm">ここは</span>
              <span class="mv-title--lg">シバジュク酒場</span>
              <span class="mv-title--white">隣の人の会話を盗みぎき</span>
            </span>
          </h2>
        </div>
        <div class="scroll-body">
          <div class="bg-wine">
            <Image src={wine_tool} alt="ワイン６本" />
          </div>
          <div class="bg-photo">
            <Image src={photo} alt="メニューの写真" />
          </div>
          <div class="bg-spotlight bg-drinkMenu">
            <Image src={drinkMenu} alt="メニューの写真" />
          </div>
          <div class="decorate-ear bg-bar13__wrap -reverse">
            <div class="bg-bar13">
              <Image src={bar_13} alt="カバンを持っている人" />
            </div>
          </div>
          <div class="decorate-ear bg-bar14__wrap -reverse">
            <div class="bg-bar14">
              <Image src={bar_14} alt="青い服を着た女性" />
            </div>
          </div>
          <div
            class="bg-direction js-spotlight"
            data-audio-url="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2020-11-6/135465423-44100-2-5968f0f452663.m4a"
          >
            <a href="/direction/">
              <span class="odject-direction--people">
                <span class="odject-direction--people__icon object_main_icon">
                  <Image src={object_main_icon} alt="" />
                </span>
                <Image src={direction_people} alt="ディレクション" />
              </span>
              <span class="odject-menu odject-direction--menu">
                <Image src={direction_menu} alt="ディレクションのメニュー" />
              </span>
            </a>
          </div>
          <div
            class="bg-coding js-spotlight"
            data-audio-url="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2023-4-21/330742665-44100-2-5edfae6160c83.m4a"
          >
            <a href="/coding/">
              <span class="odject-coding--people">
                <Image src={coding_people} alt="コーディング" />
                <span class="object_main_icon">
                  <Image src={object_main_icon} alt="" />
                </span>
              </span>
              <span class="odject-menu odject-coding--menu">
                <Image src={coding_menu} alt="コーディングのメニュー" />
              </span>
            </a>
          </div>
          <div
            class="bg-design js-spotlight"
            data-audio-url="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2022-1-17/248918979-44100-2-bb6ac1ff83d68.m4a"
          >
            <a href="/design/">
              <span class="odject-design--people">
                <Image src={design_people} alt="デザイン" />
                <span class="object_main_icon">
                  <Image src={object_main_icon} alt="" />
                </span>
              </span>
              <span class="odject-menu odject-design--menu">
                <Image src={design_menu} alt="デザインのメニュー" />
              </span>
            </a>
          </div>
          <div class="bg-bar">
            <Image src={bar} alt="バーカウンター" />
            <div class="bg-bar--beer1">
              <Image src={beer} alt="ビール" />
            </div>
            <div class="bg-bar--beer2">
              <Image src={beer} alt="ビール" />
            </div>
            <div class="bg-bar--beer3">
              <Image src={beer} alt="ビール" />
            </div>
          </div>
          <div class="bg-">
            <div class="bar-counter-people3">
              <Image src={bar_counter_people3} alt="バーのカウンター" />
            </div>
          </div>
          <div class="bg-">
            <div class="bar-counter-people4">
              <Image src={bar_counter_people4} alt="バーのカウンター" />
            </div>
          </div>
          <div class="bg-bar1">
            <Image src={bar_01} alt="バーカウンター" />
          </div>
          <div class="bg-bar2">
            <Image src={bar_02} alt="バーカウンター" />
          </div>
          <div class="bg-bar3">
            <Image src={bar_03} alt="バーカウンター" />
          </div>
          <div class="bg-bar4">
            <Image src={bar_04} alt="バーカウンター" />
          </div>
          <div class="bg-bar5">
            <Image src={bar_05} alt="バーカウンター" />
          </div>
          <div class="bg-bar6">
            <Image src={bar_06} alt="バーカウンター" />
          </div>
          <div class="bg-bar7">
            <Image src={bar_07} alt="バーカウンター" />
          </div>
          <div class="bg-bar8">
            <Image src={bar_08} alt="バーカウンター" />
          </div>
          <div class="bg-bar9__wrap">
            <div class="bg-bar9 decorate-ear">
              <Image src={bar_09} alt="バーカウンター" />
            </div>
          </div>
          <div class="bg-bar10">
            <Image src={bar_10} alt="バーカウンター" />
          </div>
          <div class="bg-bar11">
            <Image src={bar_11} alt="バーカウンター" />
          </div>
          <div class="bg-bottomTable">
            <Image src={bar_bottomTable} alt="バーの下のテーブル" />
          </div>
          <div class="bg-bottomTableStand__wrap">
            <div class="bg-bottomTableStand decorate-ear">
              <Image src={bar_bottomTable_stand} alt="バーの下のテーブル" />
            </div>
          </div>
          <div class="bg-">
            <div class="bar-counter-people5">
              <Image src={bar_counter_people5} alt="バーのカウンター" />
            </div>
          </div>
          <div class="decorate-ear bg-bottomTable-char1__wrap -reverse">
            <div class="bg-bottomTable-char1">
              <Image src={bar_bottomTable_char1} alt="バーの下のテーブル" />
            </div>
          </div>
          <div class="bg_bottomTable_chra2">
            <Image src={bar_bottomTable_char2} alt="バーの下のテーブル" />
          </div>
          <div class="bg_bottomTable_chra3">
            <Image src={bar_bottomTable_char3} alt="バーの下のテーブル" />
          </div>
          <div class="decorate-ear bg_bottomTable_chra4__wrap">
            <div class="bg_bottomTable_chra4">
              <Image src={bar_bottomTable_char4} alt="バーの下のテーブル" />
            </div>
          </div>
          <div class="bg_bottomTable_chra5">
            <Image src={bar_bottomTable_char5} alt="バーの下のテーブル" />
          </div>
        </div>
        <div
          class="bg-jobHunting js-spotlight"
          data-audio-url="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2020-7-24/101029684-44100-2-144db6b663639.m4a"
        >
          <a href="/job-hunting/">
            <span class="odject-jobHunting--people">
              <Image src={jobHunting_people} alt="就活転職" />
              <span class="object_main_icon">
                <Image src={object_main_icon} alt="" />
              </span>
            </span>
            <span class="odject-menu odject-jobHunting--menu">
              <Image src={jobHunting_menu} alt="就活転職のメニュー" />
            </span>
          </a>
        </div>
        <div class="decorate-ear bg-jobHuntingSub__wrap">
          <div class="bg-jobHuntingSub">
            <Image src={jobHunting_people_sub} alt="就活転職" />
          </div>
        </div>
        <div
          class="bg-company js-spotlight"
          data-audio-url="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2023-11-14/5f367e6f-b788-50ab-56cc-5c4d7b1bd6f2.mp3"
        >
          <a href="/company/">
            <span class="odject-company--people">
              <span class="object_main_icon">
                <Image src={object_main_icon} alt="" />
              </span>
              <Image src={company_people} alt="制作会社" />
            </span>
            <span class="odject-menu odject-company--menu">
              <Image src={company_menu} alt="制作会社のメニュー" />
            </span>
          </a>
        </div>
        <div
          class="bg-freeLance js-spotlight"
          data-audio-url="https://d3ctxlq1ktw2nl.cloudfront.net/production/2020-1-7/47126269-44100-2-d54667e7fd84f.mp3"
        >
          <a href="/free-lance/">
            <span class="odject-freeLance--people">
              <span class="object_main_icon">
                <Image src={object_main_icon} alt="" />
              </span>
              <Image src={freeLance_people} alt="フリーランス" />
            </span>
            <span class="odject-menu odject-freeLance--menu">
              <Image src={freeLance_menu} alt="フリーランスのメニュー" />
            </span>
          </a>
        </div>
        <div
          class="bg-work js-spotlight"
          data-audio-url="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2022-6-27/278253739-44100-2-52714b8b7c19d.m4a"
        >
          <a href="/work/">
            <span class="odject-company--people">
              <span class="object_main_icon">
                <Image src={object_main_icon} alt="" />
              </span>
              <Image src={work_people} alt="仕事" />
            </span>
            <span class="odject-menu odject-company--menu">
              <Image src={work_menu} alt="仕事のメニュー" />
            </span>
          </a>
        </div>
        <div
          class="bg-web js-spotlight"
          data-audio-url="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2020-10-9/126700875-44100-2-40e9aaeb6ca88.m4a"
        >
          <a href="/web/">
            <span class="odject-web--people">
              <Image src={web_people} alt="web" />
              <span class="object_main_icon">
                <Image src={object_main_icon} alt="" />
              </span>
            </span>
            <span class="odject-menu odject-web--menu">
              <Image src={web_menu} alt="webのメニュー" />
            </span>
          </a>
        </div>
        <div class="bg-table1">
          <Image src={bar_table1} alt="バーのテーブル1" />
        </div>
        <div class="bg-table2">
          <Image src={bar_table2} alt="バーのテーブル2" />
        </div>
        <div
          class="bg-study js-spotlight"
          data-audio-url="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2022-4-23/267341869-44100-2-d7c9330350787.m4a"
        >
          <a href="/study/">
            <span class="odject-study--people">
              <Image src={study_people} alt="勉強法" />
              <span class="object_main_icon">
                <Image src={object_main_icon} alt="" />
              </span>
            </span>
            <span class="odject-menu odject-study--menu">
              <Image src={study_menu} alt="勉強法のメニュー" />
            </span>
          </a>
        </div>
        <div
          class="bg-portfolio js-spotlight"
          data-audio-url="https://anchor.fm/s/132fb79c/podcast/play/14878550/https%3A%2F%2Fd3ctxlq1ktw2nl.cloudfront.net%2Fproduction%2F2020-5-8%2F80381710-44100-2-08285c18a8227.mp3"
        >
          <a href="/portfolio/">
            <span class="odject-portfolio--people">
              <Image src={portfolio_people} alt="ポートフォリオ" />
              <span class="object_main_icon">
                <Image src={object_main_icon} alt="" />
              </span>
            </span>
            <span class="odject-menu odject-portfolio--menu">
              <Image src={portfolio_menu} alt="ポートフォリオのメニュー" />
            </span>
          </a>
        </div>
        <div class="bg-chockArt">
          <Image src={chockArt} alt="絵" />
        </div>
        <div class="bg-green">
          <div class="bg-green--brunch">
            <Image src={green_brunch} alt="草木" />
          </div>
          <div class="bg-green--leaf01">
            <Image src={green_leaf01} alt="草木" />
          </div>
          <div class="bg-green--leaf02">
            <Image src={green_leaf02} alt="草木" />
          </div>
          <div class="bg-green--leaf03">
            <Image src={green_leaf03} alt="草木" />
          </div>
          <div class="bg-green--leaf04">
            <Image src={green_leaf04} alt="草木" />
          </div>
          <div class="bg-green--leaf05">
            <Image src={green_leaf05} alt="草木" />
          </div>
          <div class="bg-green--leaf06">
            <Image src={green_leaf06} alt="草木" />
          </div>
          <div class="bg-green--leaf07">
            <Image src={green_leaf07} alt="草木" />
          </div>
        </div>
      </div>
    </div>
    <div class="light"></div>
  </main>
  <button class="js-control js-bgm-control">
    <span class="js-bgm-control--text">BGM</span>
    <span class="js-bgm-control--icon">
      <svg
        class="js-bgm-control--icon--on"
        width="16"
        height="22"
        viewBox="0 0 16 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8 0C6.82126 0 5.6908 0.468253 4.8573 1.30175C4.02381 2.13524 3.55556 3.2657 3.55556 4.44444V10.6667C3.55556 11.8454 4.02381 12.9759 4.8573 13.8094C5.6908 14.6429 6.82126 15.1111 8 15.1111C9.17874 15.1111 10.3092 14.6429 11.1427 13.8094C11.9762 12.9759 12.4444 11.8454 12.4444 10.6667V4.44444C12.4444 3.2657 11.9762 2.13524 11.1427 1.30175C10.3092 0.468253 9.17874 0 8 0ZM0.888889 9.77778C1.12464 9.77778 1.35073 9.87143 1.51743 10.0381C1.68413 10.2048 1.77778 10.4309 1.77778 10.6667C1.77778 12.3169 2.43333 13.8995 3.60022 15.0664C4.76712 16.2333 6.34976 16.8889 8 16.8889C9.65024 16.8889 11.2329 16.2333 12.3998 15.0664C13.5667 13.8995 14.2222 12.3169 14.2222 10.6667C14.2222 10.4309 14.3159 10.2048 14.4826 10.0381C14.6493 9.87143 14.8754 9.77778 15.1111 9.77778C15.3469 9.77778 15.573 9.87143 15.7397 10.0381C15.9064 10.2048 16 10.4309 16 10.6667C16.0004 12.6348 15.2753 14.5339 13.9634 16.001C12.6514 17.468 10.8448 18.4 8.88889 18.6187V20.4444C8.88889 20.6802 8.79524 20.9063 8.62854 21.073C8.46184 21.2397 8.23575 21.3333 8 21.3333C7.76425 21.3333 7.53816 21.2397 7.37146 21.073C7.20476 20.9063 7.11111 20.6802 7.11111 20.4444V18.6187C5.15521 18.4 3.34856 17.468 2.03664 16.001C0.724725 14.5339 -0.00037774 12.6348 1.47628e-07 10.6667C1.47628e-07 10.4309 0.0936509 10.2048 0.26035 10.0381C0.427049 9.87143 0.653141 9.77778 0.888889 9.77778Z"
          fill="#FDD504"></path>
      </svg>
      <svg
        class="js-bgm-control--icon--off"
        width="18"
        height="20"
        viewBox="0 0 18 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.0812 0C9.00957 0 7.98182 0.425706 7.22406 1.18347C6.4663 1.94123 6.04059 2.96897 6.04059 4.04061V9.69746C6.04059 10.7691 6.4663 11.7968 7.22406 12.5546C7.98182 13.3124 9.00957 13.7381 10.0812 13.7381C11.1528 13.7381 12.1806 13.3124 12.9383 12.5546C13.6961 11.7968 14.1218 10.7691 14.1218 9.69746V4.04061C14.1218 2.96897 13.6961 1.94123 12.9383 1.18347C12.1806 0.425706 11.1528 0 10.0812 0ZM3.61623 8.88934C3.83055 8.88934 4.0361 8.97448 4.18766 9.12604C4.33921 9.27759 4.42435 9.48314 4.42435 9.69746C4.42435 11.1978 5.02034 12.6366 6.0812 13.6975C7.14207 14.7583 8.58091 15.3543 10.0812 15.3543C11.5815 15.3543 13.0203 14.7583 14.0812 13.6975C15.1421 12.6366 15.7381 11.1978 15.7381 9.69746C15.7381 9.48314 15.8232 9.27759 15.9747 9.12604C16.1263 8.97448 16.3319 8.88934 16.5462 8.88934C16.7605 8.88934 16.9661 8.97448 17.1176 9.12604C17.2692 9.27759 17.3543 9.48314 17.3543 9.69746C17.3546 11.4867 16.6954 13.2133 15.5027 14.5471C14.31 15.8808 12.6675 16.7281 10.8893 16.9269V18.5868C10.8893 18.8011 10.8042 19.0067 10.6526 19.1582C10.5011 19.3098 10.2955 19.3949 10.0812 19.3949C9.86688 19.3949 9.66133 19.3098 9.50977 19.1582C9.35822 19.0067 9.27308 18.8011 9.27308 18.5868V16.9269C7.4949 16.7281 5.8524 15.8808 4.65969 14.5471C3.46698 13.2133 2.80776 11.4867 2.80811 9.69746C2.80811 9.48314 2.89325 9.27759 3.0448 9.12604C3.19635 8.97448 3.4019 8.88934 3.61623 8.88934Z"
          fill="#FDD504"></path>
        <line x1="1.29289" y1="16.8862" x2="17.2929" y2="0.886155" stroke="#FDD504" stroke-width="2"></line>
      </svg>
    </span>
  </button>
  <audio class="js-bgm" src={bgm} loop></audio>
</Layout>

<script>
  /*******************************************************
   * 1) BGMの ON/OFF 状態を sessionStorage で保持
   *******************************************************/
  class AudioStateManager {
    static setIsPlaying(isPlaying) {
      sessionStorage.setItem("bgmPlaying", isPlaying.toString());
    }
    static getIsPlaying() {
      return sessionStorage.getItem("bgmPlaying") === "true";
    }
    static clear() {
      sessionStorage.removeItem("bgmPlaying");
    }
  }

  /*******************************************************
   * 2) モバイルデバイスかどうかを判定する関数
   *******************************************************/
  function isMobileDevice() {
    return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
  }

  document.addEventListener("DOMContentLoaded", () => {
    /*******************************************************
     * (A) ページに1つだけある<audio>要素
     *******************************************************/
    const universalAudio = document.getElementById("universalAudio");

    if (!universalAudio) {
      console.warn("universalAudio 要素が見つかりません。HTMLに <audio id='universalAudio'> を配置してください。");
      return;
    }

    // ★音量を初期化（例: 0.2 を最大値とする）
    let baseVolume = 0.4;
    universalAudio.volume = baseVolume;

    // 先読みを抑えて表示を軽く
    universalAudio.preload = "none";
    // 必要に応じてループする
    universalAudio.loop = false;
    let pcAudio = false;

    /*******************************************************
     * (B) BGM ON/OFF 状態を sessionStorage で管理
     *******************************************************/
    let isBgmOn = AudioStateManager.getIsPlaying();
    let hasUserInteracted = false; // モバイルの自動再生制限対策
    let currentAudioUrl = null; // 今再生中の音源URL（切り替え時に活用）
    let mostVisibleElement = null; // いま最も可視のセクションを保持
    let pendingAudioPlay = false; // モバイルでの初回クリック待ち状態を表すフラグ

    /*******************************************************
     * (C) 初回だけモバイル再生許可を獲得する関数
     *******************************************************/
    // async function initialPlayback() {
    //   try {
    //     // ミュート状態で再生→停止して「ユーザー操作で再生した」実績を得る
    //     universalAudio.muted = true;
    //     await universalAudio.play();
    //     universalAudio.pause();
    //     universalAudio.muted = false;

    //     hasUserInteracted = true;
    //     console.log("初回再生許可を獲得しました。");
    //     return true;
    //   } catch (err) {
    //     console.warn("初回再生許可獲得に失敗:", err);
    //     return false;
    //   }
    // }

    /*******************************************************
     * (D) BGM ON / OFF ボタン処理
     *******************************************************/
    const loadingOnButton = document.querySelector(".js-loading--on");
    const loadingOffButton = document.querySelector(".js-loading--off");
    const controlButton = document.querySelectorAll(".js-control");

    controlButton.forEach((btn) => {
      btn.addEventListener("click", async () => {
        isBgmOn = !isBgmOn;

        if (isBgmOn) {
          AudioStateManager.setIsPlaying(true);

          if (isMobileDevice()) {
            if (!hasUserInteracted) {
              // const success = await initialPlayback();
              if (mostVisibleElement) {
                console.log("モバイル: ユーザー操作待ちをセットしました");
                const audioUrl = mostVisibleElement.dataset.audioUrl;
                if (audioUrl) {
                  switchAudio(audioUrl);
                }
              } else {
                pendingAudioPlay = true;
                console.log("モバイル: ユーザー操作待ちをセットしました");
              }
            } else if (mostVisibleElement) {
              const audioUrl = mostVisibleElement.dataset.audioUrl;
              if (audioUrl) {
                switchAudio(audioUrl);
              }
            }
          } else if (mostVisibleElement) {
            const audioUrl = mostVisibleElement.dataset.audioUrl;
            if (audioUrl) {
              switchAudio(audioUrl);
            }
          }
        } else {
          AudioStateManager.setIsPlaying(false);
          universalAudio.pause();
          pendingAudioPlay = false;
        }
      });
    });

    // コメントアウトを外す or 新たに書き直す
    if (loadingOnButton) {
      loadingOnButton.addEventListener("click", function () {
        console.log("Loading ON ボタンがクリックされました");
        // (1) BGM ON フラグ
        isBgmOn = true;
        pendingAudioPlay = true;
        AudioStateManager.setIsPlaying(true);
        hasUserInteracted = true; // 「ユーザー操作済み」として扱う
        universalAudio.load();
        // (2) audio 要素をすぐに実際の音源へ切り替え
        // ここは好きな音源URL（または intersectionObserver で判定した要素の data-audio-url）でもOK
        const audioUrl = "";
        universalAudio.src = audioUrl;

        universalAudio.currentTime = 0;

        // (3) このタイミングで audio.play()
        //    同期的に呼ばれることでモバイルブラウザでも許可されやすい
        universalAudio
          .play()
          .then(() => {
            console.log("音声再生に成功");
          })
          .catch((err) => {
            console.error("音声再生がブロックされた可能性:", err);
          });
      });
    }

    if (loadingOffButton) {
      loadingOffButton.addEventListener("click", () => {
        isBgmOn = false;
        AudioStateManager.setIsPlaying(false);
        pendingAudioPlay = false;

        // 今の音声を停止
        universalAudio.pause();
        currentAudioUrl = null;
        console.log("Loading OFF で音声停止");
      });
    }

    /*******************************************************
     * モバイルの初回クリック検出と再生実行
     *******************************************************/
    // if (isMobileDevice()) {
    document.addEventListener("click", () => {
      if (!hasUserInteracted && isBgmOn) {
        hasUserInteracted = true;
        console.log("モバイル: ユーザークリックを検出しました");

        if (pendingAudioPlay && mostVisibleElement) {
          const audioUrl = mostVisibleElement.dataset.audioUrl;
          if (audioUrl) {
            console.log("モバイル: 保留中の音声を再生します", audioUrl);
            switchAudio(audioUrl);
            pendingAudioPlay = false;
          }
        }
      }
    });
    // }

    /*******************************************************
     * (E) Intersection Observerでセクション監視
     *******************************************************/
    const spotlights = document.querySelectorAll(".js-spotlight");

    let visibleList = []; // { target: Element, ratio: number } の配列

    const observerOptions = {
      root: null,
      rootMargin: "-10% 0px", // より敏感に反応するように調整
      threshold: [0, 0.25, 0.5, 0.75, 1.0], // しきい値を簡略化して処理を軽く
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const existing = visibleList.find((v) => v.target === entry.target);
          if (existing) {
            existing.ratio = entry.intersectionRatio;
          } else {
            visibleList.push({ target: entry.target, ratio: entry.intersectionRatio });
          }
          console.log("可視要素:", entry.target.dataset.audioUrl, "表示率:", entry.intersectionRatio);
        } else {
          visibleList = visibleList.filter((v) => v.target !== entry.target);
        }
      });

      // 可視要素リストの状態をログ
      console.log(
        "現在の可視要素リスト:",
        visibleList.map((v) => ({
          url: v.target.dataset.audioUrl,
          ratio: v.ratio,
        }))
      );

      // 何も見えていなければ停止
      if (visibleList.length === 0) {
        universalAudio.pause();
        currentAudioUrl = null;
        mostVisibleElement = null;
        return;
      }

      // intersectionRatio がもっとも大きい要素を探す
      let mostVisible = visibleList.reduce((prev, current) => (current.ratio > prev.ratio ? current : prev));

      const VISIBLE_THRESHOLD = 0.3; // しきい値を下げて反応を敏感に

      if (mostVisible.ratio < VISIBLE_THRESHOLD) {
        universalAudio.pause();
        currentAudioUrl = null;
        mostVisibleElement = null;
        return;
      }

      mostVisibleElement = mostVisible.target;
      const newUrl = mostVisibleElement.dataset.audioUrl;

      if (isBgmOn && newUrl !== currentAudioUrl) {
        // モバイルでユーザー操作がまだの場合は再生をペンディング
        // if (isMobileDevice() && !hasUserInteracted) {
        //   pendingAudioPlay = true;
        //   console.log("モバイル: ユーザー操作待ちをセットしました");
        //   return;
        // }

        // 初回のボタン押下直後は少し遅延させて再生開始
        if (!currentAudioUrl) {
          setTimeout(() => switchAudio(newUrl), 500);
        } else {
          switchAudio(newUrl);
        }
      }
    }, observerOptions);
    document.addEventListener("click", () => {
      spotlights.forEach((elem) => observer.observe(elem));
    });

    // if (!isMobileDevice()) {
    //   document.addEventListener("click", () => {
    //     universalAudio.volume = 0;

    //     if (pcAudio) {
    //       pcAudio = false;
    //     }
    //   });
    // } else {
    //   // universalAudio.volume = ;
    //   spotlights.forEach((elem) => observer.observe(elem));
    // }

    /*******************************************************
     * (F) 音源を切り替えて「途中(例:30秒)から再生」する関数
     *******************************************************/
    const START_TIME = 30; // 途中再生開始位置(秒) ここをお好みで調整

    async function switchAudio(audioUrl) {
      // 一旦停止
      universalAudio.pause();

      // 切り替え
      universalAudio.src = audioUrl;
      universalAudio.currentTime = START_TIME; // ★途中から再生
      currentAudioUrl = audioUrl;

      // PC or モバイルでユーザー操作済なら再生
      if (!isMobileDevice() || hasUserInteracted) {
        universalAudio.volume = 0;
        try {
          await universalAudio.play();
        } catch (err) {
          // 失敗した場合、モバイルでのユーザー操作待ち
          // if (isMobileDevice()) {
          pendingAudioPlay = true;
          // }
        }
      } else {
        pendingAudioPlay = true;
      }
    }

    /*******************************************************
     * (G) threshold を 0.0 ~ 1.0 まで 0.01 刻みで生成
     *******************************************************/
    function buildThresholdList() {
      const thresholds = [];
      for (let i = 0; i <= 1.0; i += 0.01) {
        thresholds.push(i);
      }
      return thresholds;
    }

    /*******************************************************
     * (H) ページ読込時、前回がONならONで開始
     *******************************************************/
    if (isBgmOn) {
      // PCなら自動再生されるブラウザが多い
      if (!isMobileDevice()) {
        console.log("PC: 前回がONならONで開始");
        hasUserInteracted = true;
        universalAudio.volume = 0;
      } else {
        // モバイルは初回クリック時の再生フラグを立てる
        pendingAudioPlay = true;
        console.log("モバイル: BGMはONですがユーザー操作待ちをセットしました");
      }
    } else {
      console.log("前回BGM OFFのためOFF状態で開始");
      universalAudio.pause();
      currentAudioUrl = null;
    }

    /*******************************************************
     * (I) マウスの位置に応じて音量を変化させる
     *******************************************************/
    // 例: 近いほどボリュームが大きく、遠いと小さくなる
    //     「距離 = 0」で volume = baseVolume（最大）、
    //     「距離 >= maxDistance」で volume = 0 とするイメージ

    let mouseX = 0;
    let mouseY = 0;

    // 適宜調整する
    const maxDistance = 700; // この距離以上は無音になるイメージ

    // mousemove イベントリスナー
    document.addEventListener("mousemove", (e) => {
      mouseX = e.clientX;
      mouseY = e.clientY;

      // いま最も可視な要素が存在し、かつBGMがONで再生中の場合のみ
      if (mostVisibleElement && isBgmOn && !universalAudio.paused) {
        updateVolumeByMouseDistance(mostVisibleElement);
      }
    });

    // 距離に応じて volume を更新する関数
    function updateVolumeByMouseDistance(targetElem) {
      // 要素の中心を求める
      const rect = targetElem.getBoundingClientRect();
      const centerX = rect.left + rect.width / 2;
      const centerY = rect.top + rect.height / 2;

      // マウスとの距離を計算 (2次元のユークリッド距離)
      const distance = Math.hypot(mouseX - centerX, mouseY - centerY);

      // 0～maxDistance の範囲を 1.0 ~ 0.0 に正規化
      // （distance=0 → volume=1, distance=maxDistance → volume=0）
      let vol = 1 - distance / maxDistance;
      // 0～1の範囲を超えないようにクランプ
      if (vol < 0) vol = 0;
      if (vol > 1) vol = 1;

      // 実際の音量には baseVolume を掛ける（例: baseVolume=0.2 を最大値とする）
      universalAudio.volume = vol * baseVolume;
    }
  });

  document.addEventListener("DOMContentLoaded", () => {
    const container = document.getElementById("scroll-container");
    // コンテナのサイズとスクロール量を取得
    const containerWidth = container.scrollWidth;
    const containerHeight = container.scrollHeight;
    const containerVisibleWidth = container.clientWidth;
    const containerVisibleHeight = container.clientHeight;

    // スクロール位置を中央に設定
    container.scrollLeft = (containerWidth - containerVisibleWidth) / 2;
    container.scrollTop = (containerHeight - containerVisibleHeight) / 2;

    class BGM {
      constructor() {
        this.audio = document.querySelector(".js-bgm");
        this.onButton = document.querySelector(".js-loading--on");
        this.offButton = document.querySelector(".js-loading--off");
        this.audioPlay = document.querySelector(".js-bgm-control");

        // モバイルデバイス検出
        this.isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);

        // ユーザーインタラクションフラグ
        this.hasUserInteracted = false;

        // 初期状態を取得
        this.audioConditions = !AudioStateManager.getIsPlaying();

        if (this.audio) {
          this.audio.volume = 0.4;
          this.audio.preload = "auto"; // 確実に読み込む

          // クリックイベントを待ってから再生開始
          const startAudio = () => {
            this.tryPlayAudio();
            this.audioConditions = false;
            AudioStateManager.setIsPlaying(true);
            this.hasUserInteracted = true;

            // コントロールボタンの状態を更新
            const controlButtons = document.querySelectorAll(".js-control");
            controlButtons.forEach((btn) => btn.classList.add("is-active"));
          };

          const stopAudio = () => {
            this.audio.pause();
            this.audioConditions = true;
            AudioStateManager.setIsPlaying(false);

            // コントロールボタンの状態を更新
            const controlButtons = document.querySelectorAll(".js-control");
            controlButtons.forEach((btn) => btn.classList.remove("is-active"));
          };

          const toggleAudio = () => {
            if (this.audioConditions) {
              this.audioConditions = false;
              this.tryPlayAudio();
              AudioStateManager.setIsPlaying(true);
              this.hasUserInteracted = true;

              // コントロールボタンの状態を更新
              const controlButtons = document.querySelectorAll(".js-control");
              controlButtons.forEach((btn) => btn.classList.add("is-active"));
            } else {
              this.audioConditions = true;
              this.audio.pause();
              AudioStateManager.setIsPlaying(false);

              // コントロールボタンの状態を更新
              const controlButtons = document.querySelectorAll(".js-control");
              controlButtons.forEach((btn) => btn.classList.remove("is-active"));
            }
          };

          // 音声再生を試みるヘルパーメソッド（複数箇所で使用）
          this.tryPlayAudio = () => {
            const playPromise = this.audio.play();

            if (playPromise !== undefined) {
              playPromise.catch((error) => {
                console.log("再生エラー:", error);

                // モバイルデバイスでの自動再生制限対策
                if (error.name === "NotAllowedError") {
                  console.log("ユーザー操作が必要です - ミュートで再生を試みます");

                  // ミュートで再生を試みる（多くのブラウザではミュート状態なら自動再生可能）
                  this.audio.muted = true;
                  this.audio
                    .play()
                    .then(() => {
                      // 成功したら徐々にミュートを解除
                      setTimeout(() => {
                        this.audio.muted = false;
                      }, 1000);
                    })
                    .catch((e) => console.log("ミュート再生も失敗:", e));
                }
              });
            }
          };

          // ページ読み込み時の状態確認と再生

          const initializeAudio = () => {
            console.log("初期化中...");
            const isPlaying = AudioStateManager.getIsPlaying();
            console.log("ページ読み込み時の再生状態:", isPlaying);

            if (isPlaying) {
              this.audioConditions = false;

              // コントロールボタンの状態を更新
              const controlButtons = document.querySelectorAll(".js-control");
              controlButtons.forEach((btn) => btn.classList.add("is-active"));

              // モバイルではユーザーインタラクションを待つ
              if (!this.isMobile) {
                // PCの場合は通常通り再生を試みる
                if (this.audio.readyState >= 2) {
                  console.log("メタデータはすでに読み込まれています");
                  this.tryPlayAudio();
                } else {
                  console.log("メタデータの読み込みを待っています");
                  this.audio.addEventListener(
                    "loadedmetadata",
                    () => {
                      console.log("メタデータが読み込まれました");
                      this.tryPlayAudio();
                    },
                    { once: true }
                  );
                }
              } else {
              }
            } else {
              this.audio.pause();
              this.audioConditions = true;
            }
          };

          // モバイルでの初回画面クリックイベント
          if (this.isMobile) {
            document.addEventListener(
              "click",
              () => {
                // まだインタラクションがなく、BGMがONに設定されている場合
                if (!this.hasUserInteracted && !this.audioConditions) {
                  console.log("モバイル: 初回クリックを検出、音声再生を試みます");
                  this.tryPlayAudio();
                  this.hasUserInteracted = true;
                }
              },
              { once: true }
            ); // 最初のクリックだけで十分
          }

          // onButton, offButton, audioPlayのイベントリスナー
          this.onButton.addEventListener("click", startAudio);
          this.offButton.addEventListener("click", stopAudio);
          this.audioPlay.addEventListener("click", toggleAudio);

          // window.onloadイベントで初期化（より確実）
          if (document.readyState === "complete") {
            console.log("ドキュメントはすでに完全に読み込まれています");
            initializeAudio();
          } else {
            console.log("window.onloadイベントを待機中");
            window.addEventListener("load", initializeAudio);
          }
        }
      }
    }

    new BGM();
    function hoverClass() {
      const hoverClass = document.querySelectorAll(".js-spotlight");
      hoverClass.forEach((element) => {
        element.addEventListener("mouseenter", () => {
          element.classList.add("is-hover");
        });
        element.addEventListener("mouseleave", () => {
          element.classList.remove("is-hover");
        });
      });
    }
    hoverClass();

    class MobileAudioController {
      constructor() {
        this.currentPlayingAudio = null;
        this.isInitialized = false;
      }

      async initialize() {
        if (this.isInitialized) return;

        // ユーザーインタラクション待機
        await new Promise((resolve) => {
          const initHandler = () => {
            document.removeEventListener("touchstart", initHandler);
            document.removeEventListener("click", initHandler);
            resolve();
          };
          // document.addEventListener("touchstart", initHandler);
          // document.addEventListener("click", initHandler);
        });

        this.isInitialized = true;
      }

      async playAudio(player) {
        // 現在再生中の音声があれば停止
        if (this.currentPlayingAudio && this.currentPlayingAudio !== player) {
          await this.currentPlayingAudio.stop();
        }

        try {
          await player.startPlaying();
          this.currentPlayingAudio = player;
        } catch (error) {
          console.error("Failed to play audio:", error);
        }
      }

      stopAllAudio() {
        if (this.currentPlayingAudio) {
          this.currentPlayingAudio.stop();
          this.currentPlayingAudio = null;
        }
      }
    }

    // グローバルなオーディオコントローラーのインスタンスを作成
    const mobileAudioController = new MobileAudioController();

    // スクロールイベントの処理を最適化
    if (isMobileDevice()) {
      let scrollEndTimeout;

      container.addEventListener(
        "scroll",
        () => {
          if (scrollEndTimeout) {
            clearTimeout(scrollEndTimeout);
          }

          // scrollEndTimeout = setTimeout(() => {
          //   handleAudioOnScrollComplete();
          // }, 100);
        },
        { passive: true }
      );

      // ページ離脱時に音声を停止
      window.addEventListener("beforeunload", () => {
        mobileAudioController.stopAllAudio();
      });

      // ページがバックグラウンドに移動した時に音声を停止
      document.addEventListener("visibilitychange", () => {
        if (document.hidden) {
          mobileAudioController.stopAllAudio();
        }
      });
    }

    document.addEventListener("DOMContentLoaded", () => {
      const isFromInternalPage = document.referrer.includes(window.location.hostname);

      if (isFromInternalPage && isMobileDevice()) {
        // セッションストレージからBGMの状態を確認
        const shouldPlayBGM = AudioStateManager.getIsPlaying();

        if (shouldPlayBGM) {
          const visibleElement = Array.from(contentBlocks).find((element) => {
            const rect = element.getBoundingClientRect();
            const viewportHeight = window.innerHeight;
            return rect.top >= 0 && rect.top < viewportHeight;
          });

          if (visibleElement) {
            mobileInteractionManager.hasInteracted = true;
            setTimeout(() => {
              snapToCenter(visibleElement);
            }, 1000);
          }
        }
      }
    });
  });
</script>
