---
import { SITE } from "../config";
import Layout from "@layouts/Layout.astro";
import archive_people1 from "@assets/img/archive_people1.png";
import archive_people2 from "@assets/img/archive_people2.png";
import archive_people3 from "@assets/img/archive_people3.png";
import archive_people4 from "@assets/img/archive_people4.png";
import archive_people5 from "@assets/img/bar_10.png";
import table_beer01 from "@assets/img/table_beer01.png";
import light_parts1 from "@assets/img/light_parts1.png";
import light_parts2 from "@assets/img/light_parts2.png";
import light_parts3 from "@assets/img/light_parts3.png";
import archive_people6 from "@assets/img/archive_people6.png";
import archive_table1 from "@assets/img/archive_table1.png";
import archive_table2 from "@assets/img/archive_table2.png";
import categoryPeople1 from "@assets/img/category_people1.png";
import categoryPeople2 from "@assets/img/category_people2.png";
import categoryTable1 from "@assets/img/category_table1.png";
import archive_footer_bench from "@assets/img/archive_footer_bench.png";
import archive_footer_people1 from "@assets/img/archive_footer_people1.png";
import archive_footer_people2 from "@assets/img/archive_footer_people2.png";
import archive_footer_people3 from "@assets/img/archive_footer_people3.png";
import archive_footer_people4 from "@assets/img/archive_footer_people4.png";
import archive_footer_people5 from "@assets/img/archive_footer_people5.png";
import archive_footer_people6 from "@assets/img/archive_footer_people6.png";
import archive_footer_people7 from "@assets/img/archive_footer_people7.png";
import archive_footer_table1 from "@assets/img/archive_footer_table1.png";
import archive_wine_table from "@assets/img/archive_wine_table.png";
import archive_footer_table2 from "@assets/img/archive_footer_table2.png";
import archive_footer_table3 from "@assets/img/archive_footer_table3.png";
import archive_footer_table4 from "@assets/img/archive_footer_table4.png";
import archive_footer_table5 from "@assets/img/archive_footer_table5.png";
import credit from "@assets/img/credit.png";
import category_art from "@assets/img/chock-art.png";
import x_logo from "@assets/img/logo-x.png";
import facebook from "@assets/img/logo-facebook.png";
import instagram from "@assets/img/logo-Instagram.png";
import spotify_icon from "@assets/img/spotify_icon.png";
import podcast_icon from "@assets/img/podcast_icon.png";
// import archive_green from "@assets/img/archive_green.png";
import archive_green_brunch from "@assets/img/archive_green_brunch.svg";
import green_leaf01 from "@assets/img/green_leaf01.svg";
import green_leaf02 from "@assets/img/green_leaf02.svg";
import green_leaf03 from "@assets/img/green_leaf03.svg";
import green_leaf04 from "@assets/img/green_leaf04.svg";
import green_leaf05 from "@assets/img/green_leaf05.svg";
import green_leaf06 from "@assets/img/green_leaf06.svg";
import green_leaf07 from "@assets/img/green_leaf07.svg";
import { Image } from "astro:assets";
---

<Layout
  title={`エピソード一覧 | ${SITE.name}`}
  description="すべてのエピソードを集めました。サロンメンバーの実体験に基づく会話を、ぜひ盗みぎきしてみてください。"
>
  <main class="hunting archive">
    <div class="lower">
      <div class="-archive heading-wrapper">
        <div class="heading__border">
          <h1 class="-border heading">
            <span class="heading-inline">
              <span class="-lg -sp">エピソード一覧</span>
              <span class="-line">
                <span class="-sm">を</span>
                <span class="-lg -inline">盗</span>
                <span class="decorate-ear -sm -title">みぎき</span>
              </span>
            </span>
          </h1>
        </div>
        <!-- <figure class="heading__light1 -archive">
          <Image src={light01} alt="ライト" />
        </figure> -->
        <Image class="category-light-parts1" src={light_parts3} alt="ライトパーツ1" />
        <Image class="category-light-parts2" src={light_parts2} alt="ライトパーツ2" />
        <div class="menu-article--wrap">
          <div class="search-wrap">
            <!-- フリーワード検索用の入力フォーム -->
            <p class="search-text">フリーワード検索</p>
            <div class="search-input--wrap">
              <input type="text" class="search-input" id="search-input" oninput="filterEpisodes()" />
            </div>
          </div>
          <div class="archive-list--wrap">
            <div class="archive-people--wrap">
              <div class="archive-list--text"><p>あなたは、<br />どのエピソードを<br />盗みぎきしたい？</p></div>
              <figure class="decorate-ear archive_people1">
                <Image src={archive_people1} alt="アーカイブ" />
              </figure>
            </div>
            <figure class="archive_people2">
              <Image src={archive_people2} alt="アーカイブ" />
            </figure>
            <figure class="archive-table1">
              <Image src={archive_table1} alt="テーブル" />
            </figure>
            <div class="archive-list--inner" id="summary-display">
              <!-- ここに動的にRSSデータが表示されます -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="category-button more-button-wrapper" style=" margin-top: 2rem;text-align: center;">
      <span id="load-more" class="more-button" style="display: none;">
        <span class="category-triangle">エピソードをもっと見る</span>
      </span>
    </div>
    <div class="category-bottom-archive--wrap">
      <figure class="-archive table_beer1">
        <Image src={table_beer01} alt="ビール" />
      </figure>
      <figure class="archive_wine_table">
        <Image src={archive_wine_table} alt="就活中の人々" />
      </figure>
      <figure class="decorate-ear archive-people3">
        <Image src={archive_people3} alt="就活中の人々" />
      </figure>
      <figure class="archive-table2">
        <Image src={archive_table2} alt="テーブル" />
      </figure>
      <div class="archive-category-people--wrap">
        <figure class="archive-category-people1">
          <Image src={categoryPeople1} alt="ビールを持った人" />
        </figure>
        <figure class="decorate-ear archive-category-people2">
          <Image src={categoryPeople2} alt="カテゴリ" />
        </figure>
        <figure class="archive-category-table1">
          <Image src={categoryTable1} alt="カテゴリ" />
        </figure>
      </div>
    </div>
    <div class="archive-footer">
      <div class="archive-category-art">
        <Image src={category_art} alt="カテゴリ" />
      </div>
      <figure class="js-observer decorate-ear archive-people4">
        <div class="archive-category-art--inner">
          <div class="is-observer-comment">
            <div class="archive-category-art--inner--content" style="--delay: 0s;">
              <p class="archive-category-art--txt">盗みぎきを<br />シェアしてみませんか？</p>
              <ul class="category-bottom-share--list">
                <li class="category-bottom-share--twitter">
                  <a
                    href={`https://twitter.com/intent/tweet?url=${encodeURIComponent(Astro.url.origin)}&text=${encodeURIComponent("盗みぎきをシェア")}`}
                    target="_blank"
                    rel="noopener noreferrer"><img src={x_logo.src} alt="twitter" /></a
                  >
                </li>
                <li class="category-bottom-share--facebook">
                  <a
                    href={`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(Astro.url.origin)}`}
                    target="_blank"
                    rel="noopener noreferrer"><img src={facebook.src} alt="facebook" /></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <Image class="archive-people4--img" src={archive_people4} alt="アーカイブ" />
      </figure>
      <div class="js-observer archive-people5--wrap">
        <div class="is-observer-comment">
          <div class="archive-category-art--inner">
            <div class="archive-category-art--inner--content" style="--delay: 1.5s;">
              <p class="archive-category-art--txt">ポッドキャストで<br />配信中！</p>
              <ul class="category-bottom-share--list -podcast">
                <li class="category-bottom-share--list--item">
                  <a target="_blank" href="https://open.spotify.com/show/4Gq4HUQ3zRmQGI0XfsFPRH"
                    ><Image src={spotify_icon} alt="spotify" /></a
                  >
                </li>
                <li class="category-bottom-share--list--item">
                  <a
                    target="_blank"
                    href="https://podcasts.apple.com/jp/podcast/%E3%82%B7%E3%83%90%E3%82%B8%E3%83%A5%E3%82%AF%E9%85%92%E5%A0%B4/id1498431281"
                    ><Image src={podcast_icon} alt="podcast" /></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <figure class="decorate-ear archive-people5">
          <Image src={archive_people5} alt="アーカイブ" />
        </figure>
      </div>
      <div class="archive-footer-object">
        <figure class="archive-footer-bench">
          <Image src={archive_footer_bench} alt="アーカイブ" />
        </figure>
        <figure class="archive-footer-people1">
          <Image src={archive_footer_people1} alt="アーカイブ" />
        </figure>
        <figure class="archive-footer-people2">
          <Image src={archive_footer_people2} alt="アーカイブ" />
        </figure>
        <figure class="archive-footer-people3">
          <Image src={archive_footer_people3} alt="アーカイブ" />
        </figure>
        <figure class="archive-footer-people4">
          <Image src={archive_footer_people4} alt="アーカイブ" />
        </figure>
        <figure class="archive-footer-people5">
          <Image src={archive_footer_people5} alt="アーカイブ" />
        </figure>
        <figure class="archive-footer-people6">
          <Image src={archive_footer_people6} alt="アーカイブ" />
        </figure>
        <figure class="archive-footer-people7">
          <Image src={archive_footer_people7} alt="アーカイブ" />
        </figure>
        <figure class="archive-footer-table1">
          <Image src={archive_footer_table1} alt="アーカイブ" />
        </figure>
        <figure class="archive-footer-table2">
          <Image src={archive_footer_table2} alt="アーカイブ" />
        </figure>
        <figure class="archive-footer-table3">
          <Image src={archive_footer_table3} alt="アーカイブ" />
        </figure>
        <figure class="archive-footer-table4">
          <Image src={archive_footer_table4} alt="アーカイブ" />
        </figure>
        <figure class="archive-footer-table5">
          <Image src={archive_footer_table5} alt="アーカイブ" />
        </figure>
      </div>
    </div>
    <p class="js-dialog-open archive-footer-credit"><span>Credit</span></p>
    <dialog class="js-dialog-content -closing baseDialog" aria-label="modal">
      <div class="baseDialog_wrapper">
        <div class="baseDialog_content">
          <div class="baseDialog_content_inner">
            <Image class="light-parts1" src={light_parts1} alt="ライトパーツ1" />
            <Image class="light-parts2" src={light_parts2} alt="ライトパーツ2" />
            <button type="button" class="baseDialog_close">Close</button>
            <div class="baseDialog_content_image">
              <div class="baseDialog_content_txt">
                <div class="baseDialog_content_txt_inner">
                  <p class="baseDialog_content_image_text">Planning：Attcraft</p>
                  <p class="baseDialog_content_image_text">Direction：くうみん</p>
                  <p class="baseDialog_content_image_text">Design：くうみん</p>
                  <p class="baseDialog_content_image_text">Programing：nami</p>
                </div>
              </div>
              <Image src={credit} alt="クレジット" />
            </div>
            <div class="archive-footer-x">
              <p class="archive-footer-x-text">
                <span class="archive-footer-x-text-decorate"
                  ><span class="archive-footer-x-text-decorate-inner">Follow us</span></span
                >
              </p>
              <a target="_blank" href="https://x.com/attcraft_nk">
                <Image src={x_logo} alt="X" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </dialog>
    <div class="archive-green--wrap">
      <Image class="archive-green" src={archive_green_brunch} alt="アーカイブ" />
      <div class="archive-green--leaf01">
        <Image src={green_leaf01} alt="草木" />
      </div>
      <div class="archive-green--leaf02">
        <Image src={green_leaf02} alt="草木" />
      </div>
      <div class="archive-green--leaf03">
        <Image src={green_leaf03} alt="草木" />
      </div>
      <div class="archive-green--leaf04">
        <Image src={green_leaf04} alt="草木" />
      </div>
      <div class="archive-green--leaf05">
        <Image src={green_leaf05} alt="草木" />
      </div>
      <div class="archive-green--leaf06">
        <Image src={green_leaf06} alt="草木" />
      </div>
      <div class="archive-green--leaf07">
        <Image src={green_leaf07} alt="草木" />
      </div>
    </div>
  </main>
  <p class="footer-copy">
    <small>©2024 ︎Shibajuku.</small>
  </p>
</Layout>
<script client:load>
  let xmlUrl2 = "https://anchor.fm/s/132fb79c/podcast/rss";
  let allEpisodes = []; // 全エピソードを保存
  let currentPage = 1;
  const episodesPerPage = 10; // 1ページあたりの表示数

  // 全エピソードをフェッチして表示する
  async function fetchAndDisplayFilteredEpisodes() {
    try {
      const response = await fetch(xmlUrl2);
      const xmlText = await response.text();
      const parser = new DOMParser();
      const xmlDoc = parser.parseFromString(xmlText, "text/xml");
      const items = xmlDoc.getElementsByTagName("item");
      allEpisodes = []; // リセット

      for (let i = 0; i < items.length; i++) {
        const item = items[i];
        const url = `episode-${items.length - i}`;
        const titleElement = item.getElementsByTagName("title")[0];
        const pubDateElement = item.getElementsByTagName("pubDate")[0];
        const durationElement = item.getElementsByTagNameNS("*", "duration")[0];

        // summaryの処理
        let summary = "No summary";
        const summaryElements = item.getElementsByTagNameNS("*", "summary");
        if (summaryElements.length > 0) {
          summary = summaryElements[0].textContent || "No summary";
        }

        // itunes:summaryの処理
        let itunesSummary = "";
        const itunesSummaryElements = item.getElementsByTagName("itunes:summary");
        if (itunesSummaryElements.length > 0) {
          itunesSummary = itunesSummaryElements[0].textContent || "";
        }

        const title = titleElement?.textContent || "No title";
        const duration = durationElement?.textContent || "Unknown duration";

        // 日付のフォーマット変換
        let formattedDate = "Unknown date";
        if (pubDateElement) {
          const pubDate = new Date(pubDateElement.textContent || "");
          const year = pubDate.getFullYear();
          const month = String(pubDate.getMonth() + 1).padStart(2, "0");
          const day = String(pubDate.getDate()).padStart(2, "0");
          formattedDate = `${year}年${month}月${day}日`;
        }

        allEpisodes.push({
          html: `<article class="archive-list--item">
          <div class="archive-list--body">
            <a href="/${url}">
            <h3 class="archive-list--number">${title}</h3>
            <div class="archive-list--flex">
              <p class="archive-list--date">${formattedDate}</p>
              <p class="archive-list--time">${duration}</p>
            </div>

            </a>
          </div>
        </article>`,
          title: title.toLowerCase(), // 小文字に変換して検索しやすくする
          summary: (itunesSummary || summary).toLowerCase(), // itunes:summary優先で小文字に変換
        });
      }

      // 初期表示（最初の10件のみ）
      renderEpisodes(allEpisodes, true);
    } catch (error) {
      console.error("Error fetching or parsing the XML:", error);
      const summaryDisplay = document.getElementById("summary-display");
      if (summaryDisplay) {
        summaryDisplay.textContent = "XMLの読み込みまたは解析でエラーが発生しました。";
      }
    }
  }

  // エピソードをDOMにレンダリング
  function renderEpisodes(episodes, isInitialLoad = false) {
    const summaryDisplay = document.getElementById("summary-display");
    const loadMoreButton = document.getElementById("load-more");

    if (summaryDisplay) {
      if (isInitialLoad) {
        // 初期表示または検索時
        currentPage = 1;
        summaryDisplay.innerHTML = episodes
          .slice(0, episodesPerPage)
          .map((ep) => ep.html)
          .join("");
      } else {
        // もっと見るボタンクリック時
        const nextEpisodes = episodes
          .slice(currentPage * episodesPerPage, (currentPage + 1) * episodesPerPage)
          .map((ep) => ep.html)
          .join("");
        summaryDisplay.innerHTML += nextEpisodes;
      }

      // もっと見るボタンの表示制御
      if (episodes.length > currentPage * episodesPerPage) {
        loadMoreButton.style.display = "inline-block";
      } else {
        loadMoreButton.style.display = "none !important";
      }
    }
  }

  // フリーワード検索関数
  window.filterEpisodes = function () {
    const searchInput = document.getElementById("search-input").value.toLowerCase();
    const filteredEpisodes = allEpisodes.filter(
      (ep) => ep.title.includes(searchInput) || ep.summary.includes(searchInput)
    );
    renderEpisodes(filteredEpisodes, true); // 検索時は初期表示として扱う
  };

  // もっと見るボタンのイベントリスナー
  document.getElementById("load-more")?.addEventListener("click", () => {
    currentPage++;
    renderEpisodes(allEpisodes, false);
  });

  fetchAndDisplayFilteredEpisodes();
  function Dialog() {
    const dialog = document.querySelector(".js-dialog-content");
    const dialogButton = document.querySelector(".js-dialog-open");
    const dialogClose = document.querySelector(".baseDialog_close");
    dialogButton.addEventListener("click", (e) => {
      e.preventDefault();
      dialog.showModal();
      document.documentElement.style.overflow = "hidden";
    });
    dialogClose.addEventListener("click", (e) => {
      e.preventDefault();
      dialog.close();
      document.documentElement.style.overflow = "auto";
    });
  }
  Dialog();
</script>
<style>
  /* .more-button {
      padding: 1rem 2rem;
      color: white;
      cursor: pointer;
      background-color: #333;
      border: none;
      border-radius: 4px;
      transition: opacity 0.3s;
    } */

  .more-button:hover {
    opacity: 0.8;
  }
</style>
