---
import Layout from "../layouts/Layout.astro";
import podcast from "@assets/img/podcast.webp";
import icon_kuu from "@assets/img/icon_kuu.png";
import icon_nami from "@assets/img/icon_nami.png";
import detail_kuu from "@assets/img/detail-kuu.png";
import detail_nami from "@assets/img/detail-nami.png";
import { Image } from "astro:assets";
import Autumn from "@components/Autumn.astro";
---

<Layout title="Astro テンプレート">
  <Autumn />
  <div class="min-h-screen bg-[#F0F0F0]">
    <div class="md:pb-32 md:pt-32">
      <div class="wrapper">
        <div class="flex justify-between">
          <div class="w-lower-content-left">
            <div class="sticky top-20">
              <Image
                class="absolute bottom-[calc(100%-30px)] left-0 w-[min(calc(128/1440*100vw),128px)] animate-wiggle01"
                src={detail_kuu}
                alt=""
              />
              <Image
                class="absolute right-0 top-[calc(100%-60px)] w-[min(calc(128/1440*100vw),128px)] animate-wiggle02"
                src={detail_nami}
                alt=""
              />
              <Image src={podcast} alt="" />
            </div>
          </div>
          <div class="w-lower-content-right">
            <div class="js-detail">
              <p class="message message-kuu">
                <span class="message-icon">
                  <Image src={icon_kuu} alt="" />
                </span>
                <span class="message-text">これはページ1です。</span>
              </p>
              <p class="message message-nami">
                <span class="message-icon">
                  <Image src={icon_nami} alt="" />
                </span>
                <span class="message-text"
                  >これはページ1です。これはページ1です。これはページ1です。これはページ1です。これはページ1です。</span
                >
              </p>
            </div>
            <div class="js-detail">
              <p class="message message-kuu">
                <span class="message-icon">
                  <Image src={icon_kuu} alt="" />
                </span>
                <span class="message-text">これはページ1です。</span>
              </p>
              <p class="message message-nami">
                <span class="message-icon">
                  <Image src={icon_nami} alt="" />
                </span>
                <span class="message-text"
                  >これはページ1です。これはページ1です。これはページ1です。これはページ1です。これはページ1です。</span
                >
              </p>
            </div>
            <div class="js-detail">
              <p class="message message-kuu">
                <span class="message-icon">
                  <Image src={icon_kuu} alt="" />
                </span>
                <span class="message-text">これはページ1です。</span>
              </p>
              <p class="message message-nami">
                <span class="message-icon">
                  <Image src={icon_nami} alt="" />
                </span>
                <span class="message-text"
                  >これはページ1です。これはページ1です。これはページ1です。これはページ1です。これはページ1です。</span
                >
              </p>
            </div>
            <div class="js-detail">
              <p class="message message-kuu">
                <span class="message-icon">
                  <Image src={icon_kuu} alt="" />
                </span>
                <span class="message-text">これはページ1です。</span>
              </p>
              <p class="message message-nami">
                <span class="message-icon">
                  <Image src={icon_nami} alt="" />
                </span>
                <span class="message-text"
                  >これはページ1です。これはページ1です。これはページ1です。これはページ1です。これはページ1です。</span
                >
              </p>
            </div>
            <div class="js-detail">
              <p class="message message-kuu">
                <span class="message-icon">
                  <Image src={icon_kuu} alt="" />
                </span>
                <span class="message-text">これはページ1です。</span>
              </p>
              <p class="message message-nami">
                <span class="message-icon">
                  <Image src={icon_nami} alt="" />
                </span>
                <span class="message-text"
                  >これはページ1です。これはページ1です。これはページ1です。これはページ1です。これはページ1です。</span
                >
              </p>
            </div>
            <div class="js-detail">
              <p class="message message-kuu">
                <span class="message-icon">
                  <Image src={icon_kuu} alt="" />
                </span>
                <span class="message-text">これはページ1です。</span>
              </p>
              <p class="message message-nami">
                <span class="message-icon">
                  <Image src={icon_nami} alt="" />
                </span>
                <span class="message-text"
                  >これはページ1です。これはページ1です。これはページ1です。これはページ1です。これはページ1です。</span
                >
              </p>
            </div>
            <p class="mt-8 flex justify-center">
              <a class="bg-white px-8 py-1 font-black text-black" href="/">Topへ</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    body {
      margin: 0;
    }
    .wrapper {
      box-sizing: content-box;
      max-inline-size: 1220px;
      padding-inline: 5vi;
      margin-inline: auto;
    }
    .message {
      position: relative;
      display: flex;
      column-gap: calc(33 / 16 * 1rem);
      align-items: center;
      margin-top: 32px;
      font-size: 24px;
      line-height: 1.4;
      color: #ffffff;
    }

    .message-nami {
      flex-direction: row-reverse;
      color: #262626;
    }
    .message-icon {
      width: calc(80 / 700 * 100%);
    }
    .message-text {
      position: relative;
      max-inline-size: 60%;
      padding: 0.5em 1em;
      font-size: calc(18 / 16 * 1rem);
      border-radius: 1rem;
    }
    .message-nami .message-text {
      background-color: #ffffff;
    }
    .message-kuu .message-text {
      background-color: #262626;
    }
    .message-text::after {
      position: absolute;
      top: 0.1875em;
      z-index: 1;
      width: 1em;
      height: 1em;
      content: "";
      background-color: inherit;
    }
    .message-kuu .message-text::after {
      left: 0em;
      transform: scale(1.5, 0.5) rotate(75deg);
    }
    .message-nami .message-text::after {
      right: 0em;
      transform: scale(1.5, 0.5) rotate(-75deg);
    }
  </style>
  <script></script>
</Layout>
