---
import Layout from "../../layouts/Layout.astro";
import icon_kuu from "@assets/img/icon_kuu.png";
import icon_nami from "@assets/img/icon_nami.png";
import detail_kuu from "@assets/img/detail-kuu.png";
import detail_nami from "@assets/img/detail-nami.png";
import { Image } from "astro:assets";
import attcraft_4th from "@assets/img/attcraft_4th.png";
import Autumn from "@components/Autumn.astro";
---

<Layout title="Astro テンプレート">
  <a
    class="js-link c-button-circle c-button-prev text-slate-950"
    href="/detail/arcraft"
    data-direction="backward"
    data-src="/img/arcraft.png"
  >
    <svg width="17" height="5" viewBox="0 0 17 5" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line y1="-0.5" x2="16" y2="-0.5" transform="matrix(-1 0 0 1 16.0631 4.74341)" stroke="white"></line>
      <line
        y1="-0.5"
        x2="5.07368"
        y2="-0.5"
        transform="matrix(-0.668965 0.743294 0.668965 0.743294 4.06308 0.743408)"
        stroke="white"></line>
    </svg>
  </a>
  <a
    class="js-link c-button-circle c-button-next text-slate-950"
    href="/detail/x_post_nami"
    data-direction="forward"
    data-src="/img/x_post_nami.png"
  >
    <svg width="17" height="5" viewBox="0 0 17 5" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line y1="4.24341" x2="16" y2="4.24341" stroke="white"></line>
      <line
        y1="-0.5"
        x2="5.07368"
        y2="-0.5"
        transform="matrix(0.668965 0.743294 -0.668965 0.743294 12 0.743408)"
        stroke="white"></line>
    </svg>
  </a>
  <a class="detail-top-btn" href="/">
    top
  </a>
  <Autumn />
  <div class="js-detail-page relative">
    <div class="min-h-screen bg-[#F0F0F0]">
      <div class="detail-content md:pb-32">
        <div class="wrapper">
          <div class="relative z-10 justify-between md:flex">
            <div class="md:w-lower-content-left">
              <div class="sticky top-0 md:top-36">
                <Image
                  class="absolute bottom-[calc(100%-30px)] right-0 z-20 hidden w-[min(calc(128/1440*100vw),128px)] animate-wiggle01 md:block"
                  src={detail_kuu}
                  alt=""
                />
                <Image
                  class="absolute -left-4 top-[calc(100%-30px)] z-20 hidden w-[min(calc(67/1440*100vw),70px)] animate-wiggle02 md:block"
                  src={detail_nami}
                  alt=""
                />
                <div class="detail-canvas-wrap">
                  <img id="detail-canvas-img" src={attcraft_4th.src} alt="" class="w-full" />
                  <canvas id="detail-canvas"></canvas>
                </div>
              </div>
            </div>
            <div class="mt-16 md:mt-0  md:w-lower-content-right">
              <div class="js-detail">
                <p class="message-kuu message">
                  <span class="message-icon">
                    <Image src={icon_kuu} alt="" />
                  </span>
                  <span class="message-text">結成して3年経って、、、4年目に入りました</span>
                </p>
              </div>
              <div class="js-detail">
                <p class="message-nami message">
                  <span class="message-icon">
                    <Image src={icon_nami} alt="" />
                  </span>
                  <span class="message-text"
                    >4年目って、そろそろ新卒が辞めていく頃だね</span
                  >
                </p>
              </div>
              <div class="js-detail">
                <p class="message-kuu message">
                  <span class="message-icon">
                    <Image src={icon_kuu} alt="" />
                  </span>
                  <span class="message-text">えっ不吉<br aria-hidden="true">4年目でやりたいことは？</span>
                </p>
              </div>
              <div class="js-detail">
                <p class="message-nami message">
                  <span class="message-icon">
                    <Image src={icon_nami} alt="" />
                  </span>
                  <span class="message-text"
                    >AWWARD目指すか！？</span
                  >
                </p>
              </div>

              <div class="js-detail">
                <p class="message-kuu message">
                  <span class="message-icon">
                    <Image src={icon_kuu} alt="" />
                  </span>
                  <span class="message-text">うっおおきく出たね！？まあ、目標は大きい方がいいでしょう、、、？</span>
                </p>
              </div>
              <div class="js-detail">
                <p class="message-nami message">
                  <span class="message-icon">
                    <Image src={icon_nami} alt="" />
                  </span>
                  <span class="message-text"
                    >今までやっとことのない表現にも挑戦したいね</span
                  >
                </p>
              </div>
              <div class="js-detail">
                <p class="message-kuu message">
                  <span class="message-icon">
                    <Image src={icon_kuu} alt="" />
                  </span>
                  <span class="message-text">たしかに！新境地開きましょう！！</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
