---
import Layout from "../../layouts/Layout.astro";
import good_portforio from "@assets/img/good_portforio.png";
import icon_kuu from "@assets/img/icon_kuu.png";
import icon_nami from "@assets/img/icon_nami.png";
import { Image } from "astro:assets";
import Snow from "../../components/Snow.astro";
---

<Layout title="Astro テンプレート" transitionColors={["#1EC1D7", "#4DD9E8", "#B3F0FA"]}>
  <a class="c-button-prev text-slate-950" href="/detail/page1" data-direction="backward">前へ</a>
  <a class="c-button-next text-slate-950" href="/detail/page3" data-direction="forward">次へ</a>
  <Snow />
  <div class="js-detail-page relative">
    <div class="min-h-screen bg-[#F0F0F0]">
      <div class="md:pb-32 md:pt-32">
        <div class="wrapper">
          <div class="relative z-10 flex justify-between">
            <div class="w-lower-content-left">
              <div class="sticky top-20">
                <Image src={good_portforio} alt="" />
              </div>
            </div>
            <div class="w-lower-content-right">
              <div class="js-detail">
                <p class="message message-kuu">
                  <span class="message-icon">
                    <Image src={icon_kuu} alt="" />
                  </span>
                  <span class="message-text">これはページ1です。</span>
                </p>
                <p class="message message-nami">
                  <span class="message-icon">
                    <Image src={icon_nami} alt="" />
                  </span>
                  <span class="message-text"
                    >これはページ1です。これはページ1です。これはページ1です。これはページ1です。これはページ1です。</span
                  >
                </p>
              </div>
              <div class="js-detail">
                <p class="message message-kuu">
                  <span class="message-icon">
                    <Image src={icon_kuu} alt="" />
                  </span>
                  <span class="message-text">これはページ1です。</span>
                </p>
                <p class="message message-nami">
                  <span class="message-icon">
                    <Image src={icon_nami} alt="" />
                  </span>
                  <span class="message-text"
                    >これはページ1です。これはページ1です。これはページ1です。これはページ1です。これはページ1です。</span
                  >
                </p>
              </div>
              <div class="js-detail">
                <p class="message message-kuu">
                  <span class="message-icon">
                    <Image src={icon_kuu} alt="" />
                  </span>
                  <span class="message-text">これはページ1です。</span>
                </p>
                <p class="message message-nami">
                  <span class="message-icon">
                    <Image src={icon_nami} alt="" />
                  </span>
                  <span class="message-text"
                    >これはページ1です。これはページ1です。これはページ1です。これはページ1です。これはページ1です。</span
                  >
                </p>
              </div>
              <div class="js-detail">
                <p class="message message-kuu">
                  <span class="message-icon">
                    <Image src={icon_kuu} alt="" />
                  </span>
                  <span class="message-text">これはページ1です。</span>
                </p>
                <p class="message message-nami">
                  <span class="message-icon">
                    <Image src={icon_nami} alt="" />
                  </span>
                  <span class="message-text"
                    >これはページ1です。これはページ1です。これはページ1です。これはページ1です。これはページ1です。</span
                  >
                </p>
              </div>
              <div class="js-detail">
                <p class="message message-kuu">
                  <span class="message-icon">
                    <Image src={icon_kuu} alt="" />
                  </span>
                  <span class="message-text">これはページ1です。</span>
                </p>
                <p class="message message-nami">
                  <span class="message-icon">
                    <Image src={icon_nami} alt="" />
                  </span>
                  <span class="message-text"
                    >これはページ1です。これはページ1です。これはページ1です。これはページ1です。これはページ1です。</span
                  >
                </p>
              </div>
              <div class="js-detail">
                <p class="message message-kuu">
                  <span class="message-icon">
                    <Image src={icon_kuu} alt="" />
                  </span>
                  <span class="message-text">これはページ1です。</span>
                </p>
                <p class="message message-nami">
                  <span class="message-icon">
                    <Image src={icon_nami} alt="" />
                  </span>
                  <span class="message-text"
                    >これはページ1です。これはページ1です。これはページ1です。これはページ1です。これはページ1です。</span
                  >
                </p>
              </div>
              <p class="mt-8 flex justify-center">
                <a class="bg-white px-8 py-1 font-black text-black" href="/">Topへ</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
