---
// ====================================
// Import
// ====================================
// Config
import { SITE, COMPANY, SNS } from "../config";
import { schema } from "../functions/schema";

// Component
import GlobalHeader from "../components/global/GlobalHeader.astro";
import GlobalFooter from "../components/global/GlobalFooter.astro";

interface Props {
  title: string;
  description: string;
  class: string;
}

const { title, description, class: className } = Astro.props;
const jsonLd = schema(description);
---

<!doctype html>
<html lang="ja" data-script class:list={["", className]}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${SITE.base}ogp.png`} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:site_name" content={SITE.name} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content={SNS.twitter} />
    <meta name="format-detection" content="telephone=no, email=no, address=no" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap" rel="stylesheet" />
    <link rel="canonical" href={Astro.url} />
    <link rel="icon" type="image/svg+xml" href={`${SITE.base}favicon.svg`} />
    <link rel="apple-touch-icon" sizes="180x180" href={`${SITE.base}apple-touch-icon.png`} />
    <meta name="robots" content="noindex" />
    <title>{title}</title>
    <script is:inline>
      (function (d) {
        var config = {
            kitId: "vfo5azs",
            scriptTimeout: 3000,
            async: true,
          },
          h = d.documentElement,
          t = setTimeout(function () {
            h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = "https://use.typekit.net/" + config.kitId + ".js";
        tk.async = true;
        tk.onload = tk.onreadystatechange = function () {
          a = this.readyState;
          if (f || (a && a != "complete" && a != "loaded")) return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config);
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s);
      })(document);
    </script>
  </head>
  <body class="bg-main">
    <div class="js-transition is-visible"></div>
    <div class="is-visible js-transition__bg"></div>
    <div class="bg-main--noise"></div>
    <div class="bg-main--gradient"></div>
    <GlobalHeader />
    <slot />
    <GlobalFooter />
    <style is:global>
      :root {
      }
    </style>
    <script>
      import { gsap } from "gsap";
      import Loading from "@assets/js/libs/Loading";
      import Toggle from "@assets/js/libs/Toggle";
      import Observer from "@assets/js/libs/Observer";
      new Observer(".js-observer", "is-shown");
      new Observer(".js-spotlight", "is-lightSpot", true, {
        rootMargin: "-30% 0px", // 上下30%の範囲を除外
        threshold: [0.6, 0.8],
      });
      new Loading();
      new Toggle(".js-toggle");
      const htmlElement = document.documentElement;

      const addHiddenClass = () => {
        if (!htmlElement.classList.contains("is-hidden")) {
          htmlElement.classList.add("is-hidden");
          document.querySelector(".js-topPage").classList.add("is-topPage");
        }
      };
      if (document.querySelector(".maps-gesture")) {
        document.querySelector(".maps-gesture").addEventListener("click", () => {
          addHiddenClass();
        });
      }
      const container = document.getElementById("scroll-container");
      const content = document.getElementById("scroll-content");
      let isDragging = false;
      let startX, startY, scrollLeft, scrollTop;

      // マウスダウン（ドラッグ開始）
      if (container) {
        container.addEventListener("mousedown", (e) => {
          isDragging = true;
          container.style.cursor = "grabbing";
          startX = e.pageX - container.offsetLeft;
          startY = e.pageY - container.offsetTop;
          scrollLeft = container.scrollLeft;
          scrollTop = container.scrollTop;
        });

        // マウスムーブ（ドラッグ中）
        container.addEventListener("mousemove", (e) => {
          if (!isDragging) return;
          e.preventDefault();
          const x = e.pageX - container.offsetLeft;
          const y = e.pageY - container.offsetTop;
          const walkX = (x - startX) * -1; // スクロール方向を逆に
          const walkY = (y - startY) * -1;
          container.scrollLeft = scrollLeft + walkX;
          container.scrollTop = scrollTop + walkY;
          // addHiddenClass();
        });

        // マウスアップ（ドラッグ終了）
        container.addEventListener("mouseup", () => {
          isDragging = false;
          container.style.cursor = "grab";
        });

        // マウスが外に出た場合も終了
        container.addEventListener("mouseleave", () => {
          isDragging = false;
          container.style.cursor = "grab";
        });

        // タッチ対応（モバイル用）
        container.addEventListener("touchstart", (e) => {
          isDragging = true;
          startX = e.touches[0].pageX - container.offsetLeft;
          startY = e.touches[0].pageY - container.offsetTop;
          scrollLeft = container.scrollLeft;
          scrollTop = container.scrollTop;
          // addHiddenClass();
        });

        container.addEventListener("touchmove", (e) => {
          if (!isDragging) return;
          e.preventDefault();
          const x = e.touches[0].pageX - container.offsetLeft;
          const y = e.touches[0].pageY - container.offsetTop;
          const walkX = (x - startX) * -1;
          const walkY = (y - startY) * -1;
          container.scrollLeft = scrollLeft + walkX;
          container.scrollTop = scrollTop + walkY;
        });

        container.addEventListener("touchend", () => {
          isDragging = false;
        });

        // スクロール対応（ホイールイベント）
        container.addEventListener("wheel", (e) => {
          e.preventDefault(); // デフォルトのスクロール動作を無効化
          const deltaX = e.deltaX; // 横方向のスクロール量
          const deltaY = e.deltaY; // 縦方向のスクロール量

          // スクロール量を適用
          container.scrollLeft += deltaX;
          container.scrollTop += deltaY;
          // addHiddenClass();
        });
      }
      function onHover() {
        const hoverTarget = document.querySelectorAll(".js-hover");
        hoverTarget.forEach((target) => {
          target.addEventListener("mouseover", () => {
            target.classList.add("is-hover");
          });
          target.addEventListener("mouseout", () => {
            target.classList.remove("is-hover");
          });
        });
      }
      onHover();
      if (document.querySelector(".light")) {
        window.addEventListener("mousemove", (e) => {
          const { clientX, clientY } = e;
          const x = Math.round((clientX / window.innerWidth) * 100);
          const y = Math.round((clientY / window.innerHeight) * 100);
          gsap.to(".light", {
            "--x": `${x}%`,
            "--y": `${y}%`,
          });
        });
      }

      // const isFirstVisit = !sessionStorage.getItem("hasVisited");
      // if (!isFirstVisit) {
      function pagetransition() {
        document.addEventListener("DOMContentLoaded", () => {
          const notList = '[href^="#"], [target], [data-target], .custom-link';
          const links = document.querySelectorAll(`a:not(${notList})`);
          const loadingWrap = document.querySelector(".js-transition");
          const loadingWrapBg = document.querySelector(".js-transition__bg");
          const body = document.querySelector("body");

          const animInClass = "is-loading-anim-in";
          const visibleClass = "is-visible";
          const animDuration = 700;

          links.forEach((link) => {
            link.addEventListener("click", (e) => {
              e.preventDefault();
              body.classList.add(animInClass);
              loadingWrap.classList.add(visibleClass);
              loadingWrapBg.classList.add(visibleClass);
              setTimeout(() => {
                window.location.href = link.href;
              }, animDuration);
            });
          });

          window.addEventListener("beforeunload", () => {
            body.classList.add(animInClass);
          });

          window.addEventListener("load", () => {
            function RootLoading() {
              let obj = { value: 0 };
              let radius = 1.5;
              let gradientWidth = 0;
              const el = document.querySelector(".js-transition");
              const width = el.offsetWidth * 0.5;
              const height = el.offsetHeight;

              radius = Math.sqrt(width * width + height * height) * 1.2;
              gradientWidth = radius * 0.3;
              gsap.to(obj, {
                value: 1,
                duration: 1,
                delay: 0,
                ease: "sine",
                onUpdate: () => {
                  const e = obj.value * radius;
                  el.style.setProperty("--rootLoadingGradientValue1", `${Math.max(0, e - gradientWidth)}px`);
                  el.style.setProperty("--rootLoadingGradientValue2", `${e}px`);
                  el.style.setProperty("--rootLoadingGradientValue3", `${e + gradientWidth}px`);
                },
                onComplete: () => {
                  el.classList.add("is-test");
                  setTimeout(() => {
                    el.classList.remove("is-test");
                  }, 1000);
                },
              });
            }
            RootLoading();
          });
        });
      }
      pagetransition();
      // }
    </script>
  </body>
</html>
